annotated-types==0.6.0
anyio==3.7.1
appnope==0.1.3
asttokens==2.4.1
backcall==0.2.0
cached-property==1.5.2
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.1
contourpy==1.1.1
cycler==0.12.1
debugpy==1.8.0
decorator==5.1.1
distro==1.9.0
exceptiongroup==1.2.0
executing==2.0.1
fastapi==0.109.0
fitfile==1.1.7
fonttools==4.47.2
garmindb==3.5.2
garth==0.4.43
greenlet==3.0.3
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.2
httpx==0.26.0
hyperframe==6.0.1
idbutils==1.1.0
idna==3.6
importlib-metadata==7.0.1
importlib-resources==6.1.1
ipykernel==6.28.0
ipython==8.12.0
jedi==0.19.1
jupyter_client==8.6.0
jupyter_core==5.7.1
kiwisolver==1.4.5
matplotlib==3.7.3
matplotlib-inline==0.1.6
munkres==1.1.4
nest-asyncio==1.5.8
numpy==1.24.4
oauthlib==3.2.2
openai==1.7.2
packaging==23.2
pandas==1.5.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.2.0
pip==23.3.2
platformdirs==4.1.0
prompt-toolkit==3.0.42
psutil==5.9.7
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pydantic==2.0.3
pydantic_core==2.3.0
Pygments==2.17.2
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
pyzmq==25.1.2
requests==2.31.0
requests-oauthlib==1.3.1
setuptools==69.0.3
six==1.16.0
snakemd==2.2.0
sniffio==1.3.0
SQLAlchemy==2.0.19
stack-data==0.6.2
starlette==0.35.0
tcxfile==1.0.4
tornado==6.3.3
tqdm==4.65.1
traitlets==5.14.1
typing_extensions==4.9.0
unicodedata2==15.1.0
urllib3==2.1.0
uvicorn==0.25.0
wcwidth==0.2.13
wheel==0.42.0
zipp==3.17.0
